<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
  <bean id="protoDS" class="com.mchange.v2.c3p0.ComboPooledDataSource">
    <property name="driverClass"><value>@jdbc.driver.class@</value></property>
    <property name="jdbcUrl"><value>@jdbc.connection.url@</value></property>
    <property name="user"><value>@jdbc.connection.username@</value></property>
    <property name="password"><value>@jdbc.connection.password@</value></property>
    <property name="acquireIncrement">
      <value>3</value>
    </property>
    <property name="minPoolSize">
        <value>1</value>
    </property>
    <property name="maxPoolSize">
        <value>15</value>
    </property>
    <property name="maxStatementsPerConnection">
        <value>100</value>
    </property>
    <property name="automaticTestTable">
        <value>c3p0_test_table</value>
    </property>
    <property name="numHelperThreads">
        <value>20</value>
    </property>
  </bean>
</beans>
